.navbar-brand {
	color: black;
	padding-left: 20px;
	padding-right:20px;
}

/*input:hover {
	background-color: black;
	color: white;
}*/

.input-group {
	padding-right: 3px;
}

.container1 {
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}

h1 {
	font-size: 25;
	font-weight: bold;
	padding: 10px;
}

.container2 {
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 60px;
	margin-left: 60px;
	
	

}
.btn-light {
	border: 1px solid lightgray;
	fon
}
.btn-info {
	position: absolute;
	margin-left: 3px;
	font-weight: bold;
}
i {
	padding-right: 7px;

}

.fa-check-circle {
	padding-left: 7px;
}


.container {
	width: 100%;
}









